* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.a1 {
  background: url(/src/head.png) no-repeat -0px -520px;
  width: 480px;
  height: 100px;
  margin: 10px auto;
}

.a2 {
  position: relative;
  border: #ffffff solid 1px;
  background: url(/src/box.png) no-repeat center;
  background-size: cover;
  width: 1000px;
  height: 500px;
  margin-top: 10px;
}

.a3 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 2%;
  background: url(/src/footer.png) no-repeat -9px -87px;
  width: 34px;
  height: 55px;
}

.a4 {
  display: flex;
  position: absolute;
  top: 50%;
  right: 2%;
  right: 20px;
  background: url(/src/footer.png) no-repeat -14px -160px;
  width: 34px;
  height: 55px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: auto;
  width: 88%;
  height: 180px;
  margin: 400px auto;
  background-color: #00000081;
  color: #ffffff;
  text-align: left;
}

.text .left {
  border-right: #c6c1c1 solid 4px;
  height: 70%;
  width: 40%;
  float: left;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.text .right {
  padding-left: 30px;
  padding-right: 30px;
  width: 60%;
  font-size: 16px;
  float: left;
}
